[Unit]
Description=Postfix policyd rate limiter
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/policyd-rate-limit
KillSignal=SIGINT
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
