[run]
branch = True
source =
    policyd_rate_limit
    policyd-rate-limit
omit =
    policyd_rate_limit/tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __unicode__
    def __str__
    raise AssertionError
    raise NotImplementedError
    if six.PY3:

