include LICENSE
include README.rst
include Makefile
include init/policyd-rate-limit.service
include init/policyd-rate-limit
include docs/policyd-rate-limit.8.rst
include docs/policyd-rate-limit.conf.5.rst
